[Unit]
Description=Project CCnet Server
After=syslog.target
 
[Service]
KillSignal=SIGQUIT
ExecStart=/usr/local/bin/uwsgi --ini /opt/production/ccnet/ccnet_updns.ini
Restart=always
Type=forking
PIDFile=/opt/production/ccnet-master.pid
NotifyAccess=all
StandardError=syslog
 
[Install]
WantedBy=multi-user.target